#body {
    background-image: url("../Images/grid2.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    left: 0px;
    overflow: hidden;
    position: absolute;
    top: 0;
}

#logo {
    height: 70px;
    padding-left: 4px;
    margin-top: 8px;
}

#loop{
    display: flex;
    position: absolute;
    top: 5%;
    height: 25%;
    width: 100%;
    font-size: 100px;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
}
#loop>h1{
    font-weight: 400;
    animation-name: anim;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#loop>h1>span{
    -webkit-text-stroke: 1.2px #000;
    color: transparent;
    font-weight: 500;
}
@keyframes anim{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Raleway";
    height: 7%;
    padding: 0px 30px;
}

#nav>h3{
    font-weight: 400;
    font-size: 30px;
    margin-right: 1445px;
}


#nav>button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: black;
    color: white;
    border: none;
}

#body>h3{
    margin-top: 400px;
    top: 55%;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 700;
    color: black;
    left: 5%;
}
#info1{
    margin-top: 400px;
    margin-left: 10px;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 400;
}

#button {
    margin-right: 1580px;
    font-family: "Tourney";
    font-weight: 600;
    font-size: 25px;
    background-color: black;
    color: white;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 5px;
    white-space: nowrap;
    border: 2px black;
    border-style: dashed;
    border-radius: 20px;
    cursor: pointer;
    height: 40px;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:hover{
    color: lime;
}

#info2 {
    margin-top: 250px;
    align-items: right;
    padding-left: 79rem;
    font-family: "Raleway";
    
}

#info2>h3{
    background-color: black;
    color: white;
    border-radius: 8px;
}

#eth {
    height: 800px;
    margin-bottom: 50px;
    position: absolute;
    top: 300px;
    margin-left: 43%;
}
